* {
    margin : 0px;
    padding : 0px;
}
body {
    height : 100vh;
    background-image: url('./assets/BackgroundImg.jpg');
    background-color: #282A35;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}